{% extends "base.html" %}

{% block content %}
    <h2><small>Référentiel</small></h2>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>Nom</td>
                <td>{{ framework.name }}</td>
            </tr>
            <tr>
                <td>URI</td>
                <td>{{ framework.uri }}</td>
            </tr>
            <tr>
                <td>Titre</td>
                <td>{{ framework.title }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ framework.abstract }}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{ framework.version }}</td>
            </tr>
            <tr>
                <td>Date de référence</td>
                <td>{{ framework.reference_date }}</td>
            </tr>
            <tr>
                <td>Date de début</td>
                <td>{{ framework.start_date }}</td>
            </tr>
            <tr>
                <td>Identifiant</td>
                <td>
                    {% set key_col_descriptors = [] %}
                    {% do key_col_descriptors.append("type : " + framework.key_col["type"]) %}
                    {% do key_col_descriptors.append("longueur : " + framework.key_col["length"]|string) %}
                    {% if framework.key_col.decimals %}{% do key_col_descriptors.append("nombre de décimales après la virugule : " + framework.key_col["decimals"]|string) %}{% endif -%}
                    {{ framework.key_col["name"] }}
                    ({{ key_col_descriptors|join(" - ") }})
                </td>
            </tr>
            <tr>
                <td>Emprise géographique</td>
                <td>Sud : {{ framework.bbox["south"] }} -
                    Nord : {{ framework.bbox["north"] }} -
                    Ouest : {{ framework.bbox["west"] }} -
                    Est : {{ framework.bbox["east"] }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
