{% extends "base.html" %}

{% block content %}
    <h1>OneTjs</h1>
    <p>OneTjs est un serveur implémentant les opérations Data Access du standard de l'OGC Table Joining Service.</p>
    <p>
      Initialisation de l'application :
      {% if init_success %}<span class="label label-success">Succès</span>
      {% else %}<span class="label label-danger">Echec</span>
      {% endif %}
    </p>

    <div>Copyright 2018
        <a href="https://www.neogeo.fr/" target="_blank">Neogeo Technologies</a></div>
    <div>Publié sous licence
        <a href="https://choosealicense.com/licenses/apache-2.0/" target="_blank">Apache Version 2.0</a></div>
    <div><a href="https://github.com/neogeo-technologies/OneTjs" target="_blank">OneTjs sur Github</a></div>

{% endblock %}
