{% extends "base.html" %}

{% block content %}
    <h2><small>Framework</small></h2>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ framework.name }}</td>
            </tr>
            <tr>
                <td>URI</td>
                <td>{{ framework.uri }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ framework.title }}</td>
            </tr>
            <tr>
                <td>Abstract</td>
                <td>{{ framework.abstract }}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{ framework.version }}</td>
            </tr>
            <tr>
                <td>Reference date</td>
                <td>{{ framework.reference_date }}</td>
            </tr>
            <tr>
                <td>Start date</td>
                <td>{{ framework.start_date }}</td>
            </tr>
            <tr>
                <td>Key col</td>
                <td>{{ framework.key_col["name"] }}
                    (type: {{ framework.key_col["type"] }}
                    {% if framework.key_col.length %}- length: {{ framework.key_col.length }}{% endif %}
                    {% if framework.key_col.decimals %}- length: {{ framework.key_col.decimals }}{% endif %}
                </td>
            </tr>
            <tr>
                <td>Bounding box</td>
                <td>South: {{ framework.bbox["south"] }} -
                    North: {{ framework.bbox["north"] }} -
                    West: {{ framework.bbox["west"] }} -
                    East: {{ framework.bbox["east"] }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
