{% extends "base.html" %}

{% block extra_styles %}
<style rel="stylesheet" type="text/css">
    .clickable-row {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}

    <h2><small>Référentiels</small></h2>

{% if services|length > 0 %}
{% for service in services %}
    <h3><small>{{ service.name }}</small></h3>
{% set frameworks = service.get_frameworks() %}
{% if frameworks|length > 0 %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>URI</th>
                <th>Nom</th>
                <th>Titre</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for framework in frameworks %}
            <tr>
                <td><a href="{{ url_for('.framework', service_name=service.name, framework_name=framework.name) }}">
                    {{ framework.uri }}</a></td>
                <td>{{ framework.name }}</td>
                <td>{{ framework.title }}</td>
                <td>{{ framework.abstract }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun référentiel n'est déclaré pour ce service</p>
{% endif %}
{% endfor %}

{% else %}
    <p>Aucun service TJS n'est déclaré</p>
{% endif %}
{% endblock %}
