{% extends "base.html" %}

{% block content %}
    <h1>TJS Simple Server</h1>
    <p>TJS Simple Server est un prototype de serveur TJS implémentant le standard de l'OGC Georeferenced Table Joining Service.</p>
    <p><u>Les opérations de type Data Access en HTTP GET et POST sont implémentées</u> :
        <ul>
            <li>GetCapabilities</li>
            <li>DescribeFrameworks</li>
            <li>DescribeDatasets</li>
            <li>DescribeData</li>
            <li>GetData</li>
        </ul>
    </p>
    <p><u>Eléments non supportés pour l'instant</u> :
        <ul>
            <li><strike>Requêtes HTTP POST</strike></li>
            <li>Requêtes SOAP</li>
            <li>WSDL</li>
            <li>Valeurs de types <em>ordinal</em> et <em>nominal</em></li>
            <li>Le multilinguisme</li>
            <li>Le champ <em>documentation</em> des attributs</li>
            <li>Pour la requête GetCapabilities : les paramètres language, AcceptFormats, Sections et updateSequence</li>
            <li>Pour la requête DescribeFramewroks : le paramètre language</li>
            <li>Pour la requête GetData : les paramètres language, LinkageKeys , FilterColumn, FilterValue, XSL, Aid</li>
        </ul>
    </p>
    <p><u>Autres limitations</u> :
        <ul>
            <li>Les jeux de données stockés dans une base SQL ne sont pas encore supportés</li>
        </ul>
    </p>
    <p>
      Initialisation de l'application :
      {% if init_success %}<span class="label label-success">Succès</span>
      {% else %}<span class="label label-danger">Echec</span>
      {% endif %}
    </p>
{% endblock %}
