{% extends "base.html" %}

{% block content %}
    <h1>OneTjs</h1>
    <p>OneTjs est un serveur implémentant le standard de l'OGC Table Joining Service.</p>
    <p>Les opérations de type Data Access en HTTP GET sont implémentées :
        <ul>
            <li>GetCapabilities</li>
            <li>DescribeFrameworks</li>
            <li>DescribeDatasets</li>
            <li>DescribeData</li>
            <li>GetData</li>
        </ul>
    </p>
    <p>Eléments non supportés (à l'heure actuelle) :
        <ul>
            <li>Requêtes HTTP POST</li>
            <li>Requêtes SOAP</li>
            <li>WSDL</li>
            <li>Valeurs de types <em>ordinal</em> et <em>nominal</em></li>
            <li>Le multilinguisme</li>
            <li>Le champ <em>documentation</em> des attributs</li>
            <li>Pour la requête GetCapabilities : les paramètres language, AcceptFormats, Sections et updateSequence</li>
            <li>Pour la requête DescribeFrameworks : le paramètre language</li>
            <li>Pour la requête GetData : les paramètres language, LinkageKeys , FilterColumn, FilterValue, XSL, Aid</li>
        </ul>
    </p>
    <p>Autres limitations :
        <ul>
            <li>Les jeux de données stockés dans une base SQL ne sont pas encore supportés</li>
        </ul>
    </p>
    <p>
      Initialisation de l'application :
      {% if init_success %}<span class="label label-success">Succès</span>
      {% else %}<span class="label label-danger">Echec</span>
      {% endif %}
    </p>
{% endblock %}
