{% extends "base.html" %}

{% block content %}
    <h2><small>Service</small></h2>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <td>Abstract</td>
                <td>{{ service.abstract }}</td>
            </tr>
            <tr>
                <td>Activated</td>
                <td>{{ service.activated }}</td>
            </tr>
            <tr>
                <td>TJS versions</td>
                <td>{{ service.tjs_versions|join(", ") }}</td>
            </tr>
            <tr>
                <td>Languages</td>
                <td>{{ service.languages|join(", ") }}</td>
            </tr>
        </tbody>
    </table>

    <h2><small>Frameworks</small></h2>

{% set frameworks = service.get_frameworks() %}
{% if frameworks|length > 0 %}
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Title</td>
                <td>URI</td>
            </tr>
{% for framework in frameworks %}
            <tr>
                <td>{{ framework.name }}</td>
                <td>{{ framework.title }}</td>
                <td>{{ framework.uri }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun framework n'est déclaré pour ce service</p>
{% endif %}

    <h2><small>Datasets</small></h2>

{% set datasets = service.get_datasets() %}
{% if datasets|length > 0 %}
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Title</td>
                <td>URI</td>
            </tr>
{% for dataset in datasets %}
            <tr>
                <td>{{ dataset.name }}</td>
                <td>{{ dataset.title }}</td>
                <td>{{ dataset.uri }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun dataset n'est déclaré pour ce service</p>
{% endif %}

    <h2><small>Sample TJS requests</small></h2>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <td><a href="{{ get_getcapabilities_url(serv=service) }}">
                    GetCapabilities</a></td>
            </tr>
            <tr>
                <td><a href="{{ get_describeframeworks_url(serv=service, tjs_version=service.tjs_versions[-1]) }}">
                    DescribeFrameworks</a></td>
            </tr>
{% for dataset in datasets %}
            <tr>
                <td><a href="{{ get_getdata_url(serv=service, tjs_version=service.tjs_versions[-1], dataset=dataset) }}">
                    GetData for {{ dataset.name }} dataset</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>

{% endblock %}
