<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>OneTjs</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        {% block extra_styles %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
        {% block extra_scripts %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block inline_scripts %}{% endblock %}

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('public_pages.index') }}">{% block branding %}OneTjs{% endblock %}</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('public_pages.services') }}">Services</a></li>
                        <li><a href="{{ url_for('public_pages.frameworks') }}">Référentiels</a></li>
                        <li><a href="{{ url_for('public_pages.datasets') }}">Jeux de données</a></li>
                        {% block extra_nav %}{% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <p class="navbar-text">v{{ version }}</p>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                {% block content %}
                {% endblock %}
            </div>

        </div>

    </body>
</html>