{% extends "base.html" %}

{% block content %}
    <h1>Erreur {{error_code}}</h1>
    {% if error_code in (410, 403) %}
    <p>Vous n'êtes pas autorisé à consulter cette page.</p>
    {% elif error_code == 404 %}
    <p>La page que vous recherchez n'existe pas.</p>
    {% elif error_code == 500 %}
    <p>Une erreur est intervenue au cours du traitement de votre requête. Veuillez nous excuser pour la gêne occasionnée.</p>
    {% else %}
    <p>{{error_description}}</p>
    {% endif %}
{% endblock %}
