{% extends "base.html" %}
{% block content %}
    <h2>Utilisateurs</h2>
    <p>Votre compte : {{ current_user.email }}</p>

    {% set users = object_list.items %}
    {% if users|length > 0 %}
    <div class="panel panel-default">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Bloqué ?</th>
                    <th>Administrateur ?</th>
                    <th>Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.blocked }}</td>
                    <td>{{ user.admin }}</td>
                    <td>{{ user.registered_on }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "include_page_links.html" %}

    {% else %}
    <p>Aucun utilisateur n'est présent en base de données</p>
    {% endif %}


{% endblock %}